.btn
{
	line-height: 250px; /* text appears in middle of div */
	width: 250px;
	height: 200px;
	display: inline-block; /* display divs side by side */
	border-radius: 10px; /* rounded edge */
	-moz-border-radius:10px;  /* for Firefox */
	-webkit-border-radius:10px; /* for Webkit-Browsers */
}

